.chat {
    margin-top: 1rem;
    border: 1px solid #DDDDDD;
    border-radius: 1px;
}

.chat .chat-header {
    background-color: #096AC9;
    padding: 0.5rem 1rem;
    color: white;
}

.chat .chat-header .grid {
    margin: 0;
}

.chat .chat-header button.primary,
.chat .chat-footer button.primary {
    background-color: white;
    color: #096AC9 !important;
    border: 1px solid transparent;
}

.chat .chat-header button.subtle,
.chat .chat-footer button.subtle {
    border-color: #d1e8ff;
    color: white !important;
}

.chat .chat-header button:hover,
.chat .chat-footer button:hover {
    background-color: #d1e8ff !important;
    color: #096AC9 !important;
}

.chat .chat-header span {
    margin-left: 0.8rem;
    font-size: 0.9rem;
}

.chat .chat-messages {
    max-height: 400px;
    overflow-y: auto;
}

.chat .chat-message {
    border-bottom: 1px solid #DDDDDD;
    background-color: white;
    padding: 0.3rem;
    font-size: 0.9rem;
}

.chat .chat-message:nth-child(even) {
    background-color: #F8F8F8;
}

.chat .chat-message .chat-sidebar {
    float: left;
    width: 5rem;
    margin-right: 0.5rem;
}

.chat .chat-message .chat-sidebar .avatar {
    max-width: 4rem;
}

.chat .chat-message .chat-topbar {
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
    color: #888888;
}

.chat .chat-message .chat-topbar .username {
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
}

.chat .chat-message .chat-message-content {
    padding-left: 5.5rem;
}

.chat .chat-footer {
    background-color: #096AC9;
    padding: 1rem;
    color: white;
}

.chat .chat-footer form {
    margin: 0;
}

.chat .chat-footer button {
    display: inline-block;
    margin-top: 1rem;
    vertical-align: top;
    height: 2.2rem;
    padding: 0.4rem 1rem;
}

