form {
    margin: 1rem 0;
}

form.right {
    text-align: right;
}

form table td {
    vertical-align: top;
    padding: 0.5rem 1rem 0.5rem 0;
}

form table td:first-child {
    max-width: 15rem;
    padding: 0.9rem 1rem 0.9rem 0;
}

form table h3 {
    margin: 0;
    font-size: 1rem;
}

form table td p {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
}

form .final-action {
    text-align: right;
}

input[type="text"], input[type="password"], input[type="email"], textarea {
    min-width: 15rem;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    padding: 0.4rem 0.5rem;
}

input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, textarea:hover {
    border: 1px solid #B0B0B0;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
    border: 1px solid #999999;
    box-shadow: 0 1px 1px #DDDDDD inset;
}

.stacked-input input {
    display: block;
    margin: -1px 0 0;
    border-radius: 0;
}

.stacked-input label:first-of-type input {
    margin: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.stacked-input label:last-of-type input {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

textarea {
    display: block;
    height: 8rem;
    margin: 1rem 0;
    width: 100%;
}

button, .button, input[type="button"], input[type="submit"] {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #DDDDDD;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #333333 !important;
    text-decoration: none;
}

button.subtle, .button.subtle, input[type="button"].subtle, input[type="submit"].subtle {
    background: none;
    border: 1px solid #AAAAAA;
}

button:hover, .button:hover, input[type="button"]:hover, input[type="submit"]:hover {
    border: 1px solid #AAAAAA;
    background-color: #E4E4E4 !important;
}

button.primary, .button.primary, input[type="button"].primary, input[type="submit"].primary {
    background-color: #096AC9;
    color: white !important;
}

button.primary:hover, .button.primary:hover, input[type="button"].primary:hover, input[type="submit"].primary:hover {
    background-color: #097EDF !important;
    border: 1px solid transparent;
}