.user-section h3 {
    margin-bottom: 0;
    border-radius: 2px 2px 0 0;
    background-color: #096AC9;
    padding: 0.2rem 1rem;
    color: white;
}

.user-section .content {
    border-bottom: 1px solid #CCCCCC;
    background-color: white;
    padding: 1rem;
}

.user-section .content .sidebar {
    float: left;
    width: 10rem;
    text-align: center;
}

.user-section .content table {
    margin-left: 11rem;
}

.user-section .content td {
    padding-right: 1rem;
}

.user-section .signature {
    margin-top: 2rem;
    border-top: 1px solid #888888;
    padding-top: 0.5rem;
    color: #666666;
    font-size: 0.9rem;
}

.medals h4 {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: normal;
}

.medals h4:not(:first-of-type) {
    margin-top: 2rem;
}

.medal-showcase {
    display: inline-block;
    margin: 1rem 3rem 1rem 0;
}

.medal-showcase img {
    float: left;
    max-width: 3rem;
}

.medal-showcase div {
    padding-left: 4rem;
}

.medal-showcase h5 {
    margin: 0;
    font-size: 1rem;
}

.medal-showcase p {
    margin: 0;
    font-size: 0.8rem;
    color: #666666;
}