.menu-toggle,
.menu-toggle-label {
    display: none;
}

@media screen and (max-width: 64rem) {

    /* general */
    body,
    ul.bbcode-list li {
        font-size: 0.9rem;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .banner {
        height: 20vw;
        min-height: 6rem;
        background-position: center;
    }

    .banner h1 {
        text-align: center;
    }

    .banner img {
        width: 90%;
    }

    .banner p {
        display: none;
    }

    .main {
        padding: 1rem 3vw;
    }

    .grid, .grid .column {
        display: block;
        text-align: center !important;
    }

    .grid .column:first-child {
        margin-bottom: 1.5rem;
    }

    .form td {
        display: block;
    }

    button,
    .button {
        margin-bottom: 0.3rem;
    }

    /* menu */
    nav {
        display: none;
        box-shadow: none !important;
    }

    .menu-toggle-label {
        display: block;
    }

    .menu-toggle:checked + label + nav,
    .user-menu.not-logged-in {
        display: block;
        overflow: auto;
    }

    /* home page */
    .home-page-grid {
        display: block;
    }

    .welcome {
        padding-right: 0;
    }

    .news {
        margin-top: 2rem;
        border-left: 0;
        padding-left: 0;
    }

    .news h3 {
        font-size: 1rem;
    }

    /* about */
    .image-container {
        float: none !important;
        text-align: center;
    }

    .image-container img {
        max-height: 35vh;
    }

    /* forum */
    .forum {
        display: block;
        width: auto;
        margin: 0 -3vw 0;
    }

    .forum thead {
        display: block;
        margin: 0 0 -2rem;
    }

    .forum tbody {
        display: block;
    }

    .forum tr,
    .forum th,
    .forum td {
        display: block;
        width: auto !important;
        border-radius: 0 !important;
        border: none;
    }

    .forum tr {
        margin-bottom: 1.5rem;
    }

    .forum tr:not(:first-child) {
        border-top: 1px solid #CCCCCC;
    }

    .forum th:not(.category-name) {
        display: none;
    }

    .forum th.category-name {
        margin: 2rem 0;
        padding: 0.5rem 0;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }

    .forum td.status {
        float: left;
        padding: 1.5rem 0.2rem 0 3vw;
        font-size: 1rem;
        line-height: 150%;
        margin-bottom: -0.2rem;
    }

    .forum td.forum-description {
        border: 0;
        padding: 1.5rem 3vw 0.5rem;
    }

    .forum td.num-threads {
        display: inline;
        padding-left: 3vw;
    }

    .forum td.num-threads:after {
        content: ' Themen •'
    }

    .forum td.num-posts {
        display: inline;
        padding: 0;
    }

    .forum td.num-posts:after {
        content: ' Beiträge'
    }

    .forum td.last-post {
        padding: 0 3vw;
        text-align: left;
    }

    .forum td.last-post:before {
        content: 'letzter Beitrag'
    }

    .forum td.last-post p {
        display: inline;
    }

    .forum tr.last.sticky {
        margin: 0;
        padding-bottom: 1.5rem;
    }

    .forum .thread {
        padding: 0;
    }

    .forum .thread h3 {
        padding: 1.5rem 0 0 3vw;
    }

    .forum .thread h3 + p {
        padding-left: 3vw;
    }

    .forum td.num-replies {
        display: inline;
        padding-left: 3vw;
    }

    .forum td.num-replies:after {
        content: ' Antworten •'
    }

    .forum td.num-views {
        display: inline;
        padding: 0;
    }

    .forum td.num-views:after {
        content: ' Zugriffe'
    }

    .forum td.page-selection {
        padding: 0 6vw 0 0;
        text-align: right;
    }

    .forum td.page-selection select {
        margin: 0.5rem;
    }

    .post {
        margin: 0 -3vh 0;
        padding-left: 3vh;
        padding-right: 3vh;
    }

    .post .sidebar {
        float: none;
        width: 100%;
        margin-left: 0;
        font-size: 0;
    }

    .post .sidebar p,
    .post .sidebar img:not(.avatar) {
        display: none;
    }

    .post .avatar {
        display: inline-block;
        max-height: 10vh;
    }

    .post .content {
        padding-bottom: 2rem;
    }

    .post .content .topbar.grid {
        margin-bottom: 1rem;
    }

    .post .content .topbar.grid .column:first-child {
        margin: 0.5rem 0 0;
    }

    .signature {
        display: none;
    }

    /* user */
    .user-section h3 {
        border-radius: 0;
        margin-left: -3vw;
        margin-right: -3vw;
    }

    .user-section .content {
        border: none;
        padding-left: 0;
        padding-right: 0;
    }

    .user-section .content .sidebar {
        float: none;
        width: auto;
    }

    .user-section .content table {
        width: 100%;
        border-collapse: collapse;
        margin: 0;
    }

    .user-section .content table td {
        border-bottom: 1px solid #CCC;
        padding: 0.5rem 0;
        vertical-align: top;
    }

    .user-section .content table td:last-child {
        text-align: right;
    }

    /* chat */
    .chat-heading {
        display: none;
    }

    .chat {
        margin: -1rem -3vw 0;
        border: none;
    }

    .chat-messages {
        resize: none;
        height: auto !important;
        min-height: 0;
        overflow-y: auto;
    }

    .chat-message {
        -ms-word-wrap: break-word;
        word-wrap: break-word;
    }

    #refresh {
        padding: 0.3rem 0.6rem;
        display: block;
        margin: auto;
    }

    #message-content-wrapper {
        text-align: right;
    }

    #message-content {
        width: 100%;
        height: 10rem;
    }

}