.cuteedit {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

.cuteedit ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cuteedit-item, .cuteedit-separator {
    float: left;
    margin-right: 1px;
}

.cuteedit-separator {
    height: 1px;
    width: 6px;
}

.cuteedit-toolbar-all {
    background-image: url('editor_skin.png');
    cursor: pointer;
    height: 24px;
}

.cuteedit-toolbar-bold {
    background-position: -3px -3px;
    width: 24px;
}

.cuteedit-toolbar-bold-pressed {
    background-position: -3px -148px;
    width: 24px;
}

.cuteedit-toolbar-italic {
    background-position: -29px -3px;
    width: 24px;
}

.cuteedit-toolbar-italic-pressed {
    background-position: -29px -148px;
    width: 24px;
}

.cuteedit-toolbar-underline {
    background-position: -55px -3px;
    width: 24px;
}

.cuteedit-toolbar-underline-pressed {
    background-position: -55px -148px;
    width: 24px;
}

.cuteedit-toolbar-strike {
    background-position: -81px -3px;
    width: 24px;
}

.cuteedit-toolbar-strike-pressed {
    background-position: -81px -148px;
    width: 24px;
}

.cuteedit-toolbar-size {
    background-position: -3px -29px;
    width: 40px;
}

.cuteedit-toolbar-size-pressed {
    background-position: -3px -174px;
    width: 40px;
}

.cuteedit-toolbar-color {
    background-position: -3px -55px;
    width: 24px;
}

.cuteedit-toolbar-color-pressed {
    background-position: -3px -200px;
    width: 24px;
}

.cuteedit-toolbar-highlight {
    background-position: -29px -55px;
    width: 24px;
}

.cuteedit-toolbar-highlight-pressed {
    background-position: -29px -200px;
    width: 24px;
}

.cuteedit-toolbar-link {
    background-position: -55px -55px;
    width: 24px;
}

.cuteedit-toolbar-link-pressed {
    background-position: -55px -200px;
    width: 24px;
}

.cuteedit-toolbar-image {
    background-position: -81px -55px;
    width: 24px;
}

.cuteedit-toolbar-image-pressed {
    background-position: -81px -200px;
    width: 24px;
}

.cuteedit-toolbar-youtube {
    background-position: -55px -81px;
    width: 24px;
}

.cuteedit-toolbar-youtube-pressed {
    background-position: -55px -226px;
    width: 24px;
}

.cuteedit-toolbar-emoticon {
    background-position: -107px -55px;
    width: 24px;
}

.cuteedit-toolbar-emoticon-pressed {
    background-position: -107px -200px;
    width: 24px;
}

.cuteedit-toolbar-quote {
    background-position: -3px -81px;
    width: 24px;
}

.cuteedit-toolbar-quote-pressed {
    background-position: -3px -226px;
    width: 24px;
}

.cuteedit-toolbar-code {
    background-position: -29px -81px;
    width: 24px;
}

.cuteedit-toolbar-code-pressed {
    background-position: -29px -226px;
    width: 24px;
}

.cuteedit-toolbar-spoiler {
    background-position: -3px -107px;
    width: 50px;
}

.cuteedit-toolbar-spoiler-pressed {
    background-position: -3px -252px;
    width: 50px;
}

.cuteedit-toolbar-inline-spoiler {
    background-position: -55px -107px;
    width: 50px;
}

.cuteedit-toolbar-inline-spoiler-pressed {
    background-position: -55px -252px;
    width: 50px;
}

.cuteedit-button, .cuteedit-button-hover, .cuteedit-button-pressed, .cuteedit-button-active, .cuteedit-button-active-hover, .cuteedit-button-active-pressed {
    border: 1px solid #000000;
    cursor: default;
}

.cuteedit-button {
    background-color: #ffffff;
    padding: 1px 5px;
}

.cuteedit-button-hover {
    background-color: #cccccc;
    padding: 1px 5px;
}

.cuteedit-button-pressed {
    background-color: #cccccc;
    padding: 2px 4px 0 6px;
}

.cuteedit-button-active {
    background-color: #cccccc;
    padding: 1px 5px;
}

.cuteedit-button-active-hover {
    background-color: #999999;
    padding: 1px 5px;
}

.cuteedit-button-active-pressed {
    background-color: #999999;
    padding: 2px 4px 0 6px;
}

.cuteedit-drop {
    background-color: white;
    border: 1px solid #666;
    border-radius: 1px;
    box-shadow: 0 0 2px #666;
    color: #333333;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cuteedit-drop-item, .cuteedit-drop-item-highlight {
    cursor: default;
    padding: 0.2rem 0.5rem;
}

.cuteedit-drop-item-highlight {
    background-color: #4C9ED9;
    color: white;
}

.cuteedit-colors {
    background-color: white;
    border: 1px solid #666;
    box-shadow: 0 0 2px #666;
    border-radius: 1px;
    padding: 1rem;
    border-collapse: separate;
}

.cuteedit-colors td {
    cursor: pointer;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding: 0 !important;
    width: 1rem !important;
    height: 1rem !important;
    line-height: 1rem !important;
}

.cuteedit-input {
    background-color: #222;
    border: 1px solid #666;
    box-shadow: 0 0 2px #666;
    color: #ddd;
    border-radius: 1px;
    padding: 0.5rem 1rem;
}

.cuteedit-input-buttons {
    text-align: right;
}

.cuteedit-input-ok,
.cuteedit-input-cancel {
    display: inline-block;
    margin: 0.5rem 0.2rem 0;
    padding: 0.2rem 0.6rem;
}

.cuteedit-list {
    background-color: #222;
    border: 1px solid #666;
    box-shadow: 0 0 2px #666;
    border-radius: 1px;
    padding: 1rem;
    list-style-type: none;
    margin: 0;
    width: 360px;
    max-height: 400px;
    overflow-y: auto;
}

.cuteedit-list-parent {
    clear: both;
}

.cuteedit-list-item {
    border: 1px solid transparent;
    border-radius: 1px;
    cursor: pointer;
    float: left;
    margin: 1px;
    padding: 3px;
    text-align: center;
}

.cuteedit-list-parent ul {
    margin-top: 8px;
    margin-bottom: 16px;
    overflow: hidden;
}

.cuteedit-list-item:hover {
    background-color: #333;
    border-color: #666;
}

.cuteedit-list-parent span {
    display: block;
    width: 95%;
    margin-left: 3px;
    border-bottom: 1px solid #666;
}